@font-face {
    font-display: block;
    font-family: 'Seti Icons';
    src: url('fonts/Seti.otf') format('opentype');
}

@font-face {
    font-display: block;
    font-family: 'Material Design Icons';
    src: url('fonts/MaterialDesign.otf') format('opentype');
}

.mdi-chevron-left:before {
    font-family: 'Material Design Icons';
    font-style: normal;
    font-size: 1.2em;
    content: "\f141";
}

.mdi-chevron-right:before {
    font-family: 'Material Design Icons';
    font-style: normal;
    font-size: 1.2em;
    content: "\f142";
}

.mdi-clock:before {
    font-family: 'Material Design Icons';
    font-style: normal;
    content: "\f150";
}

.mdi-cube-outline:before {
    font-family: 'Material Design Icons';
    font-style: normal;
    content: "\f1a7";
}

.seti-lua:before {
    font-family: 'Seti Icons';
    font-style: normal;
    color: #00BFFF;
    content: "\e520";
}

