@font-face {
    font-display: block;
    font-family: 'Seti Icons';
    src: url('fonts/Seti.otf') format('opentype');
}

@font-face {
    font-display: block;
    font-family: 'Material Design Icons';
    src: url('fonts/MaterialDesign.otf') format('opentype');
}

:root {
    --font-family-mdi:              "Material Design Icons";
    --mdi-chevron-down:             "\f140";
    --mdi-chevron-left:             "\f141";
    --mdi-chevron-right:            "\f142";
    --mdi-chevron-up:               "\f143";
    --mdi-clock:                    "\f150";
    --mdi-cube-outline:             "\f1a7";
    --mdi-image-filter:             "\f2ef";
    --mdi-github-box:               "\f2a3";
    --mdi-github-circle:            "\f2a4";
    --mdi-checkbox-blank-outline:   "\f131";
    --mdi-checkbox-marked:          "\f132";
    --mdi-settings:                 "\f493";
    --mdi-settings-box:             "\f494";
    --mdi-dots-horizontal:          "\f1d8";
    --mdi-dots-vertical:            "\f1d9";
    --mdi-dots-horizontal-circle:   "\f7c2";
    --mdi-dots-vertical-circle:     "\f7c3";
    --font-family-seti:             "Seti Icons";
    --seti-lua:                     "\e520";
}

.mdi-chevron-down:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-chevron-down);
}

.mdi-chevron-left:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    font-size: 1.2em;
    content: var(--mdi-chevron-left);
}

.mdi-chevron-right:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    font-size: 1.2em;
    content: var(--mdi-chevron-right);
}

.mdi-chevron-up:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-chevron-up);
}

.mdi-clock:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-clock);
    vertical-align: bottom;
}

.mdi-cube-outline:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-cube-outline);
}

.mdi-image-filter:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-image-filter);
}

.mdi-github-box:before {
    font-family: var(--font-family-mdi);
    vertical-align: bottom;
    font-style: normal;
    font-size: 1.2em;
    content: var(--mdi-github-box);
}

.mdi-github-circle:before {
    font-family: var(--font-family-mdi);
    vertical-align: bottom;
    font-style: normal;
    font-size: 1.2em;
    content: var(--mdi-github-circle);
}

.mdi-settings:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-settings);
}

.mdi-settings-box:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-settings-box);
}

.mdi-dots-horizontal:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    font-size: 1.2em;
    display: inline-block;
    transform: translateY(1px);
    content: var(--mdi-dots-horizontal);
}

.mdi-dots-vertical:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    font-size: 1.2em;
    display: inline-block;
    transform: translateY(1px);
    content: var(--mdi-dots-vertical);
}

.mdi-dots-horizontal-circle:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-dots-horizontal-circle);
}

.mdi-dots-vertical-circle:before {
    font-family: var(--font-family-mdi);
    font-style: normal;
    content: var(--mdi-dots-vertical-circle);
}

.seti-lua:before {
    font-family: var(--font-family-seti);
    font-style: normal;
    color: #00BFFF;
    content: var(--seti-lua);
}

