
html {
    --parallax-img-speed-multiplier: 0.5;
}

body {
    box-sizing: border-box;
    border-top: 1px solid #404040;
}

@font-face {
  font-display: block;
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/pixelify-sans-v3-latin-500.woff2') format('woff2');
}

.parallax-clock {
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Pixelify Sans';
    font-weight: 500;
    font-size: calc(1rem + 9vw + 3vh);
    line-height: 1;
    padding-bottom: calc(max(20vh, 2rem));
    color: #4B2C38;
    opacity: 55%;
}

.parallax-clock > * {
    white-space: nowrap;
}

.parallax-clock > .parallax-clock-date {
    font-size: 0.4em;
}

