
@property --parallax-viewport-width-px {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}

@property --parallax-viewport-height-px {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}

@property --parallax-scale-factor {
    syntax: '<number>';
    inherits: true;
    initial-value: 1.0;
}

html {
    --parallax-img-speed-multiplier: 0.5;
    --parallax-img-period-1: calc(200s / var(--parallax-img-speed-multiplier));
    --parallax-img-period-2: calc(200s / var(--parallax-img-speed-multiplier));
    --parallax-img-period-3: calc(160s / var(--parallax-img-speed-multiplier));
    --parallax-img-period-4: calc(120s / var(--parallax-img-speed-multiplier));
    --parallax-viewport-width-px: 100vw;
    --parallax-viewport-height-px: 100vh;
    /*  HACK: calc doesn't support division, so use tan(atan2(a, b)) == a / b */
    --parallax-scale-factor: calc(tan(atan2(max(var(--parallax-viewport-height-px), var(--parallax-img-height)), var(--parallax-img-height))));
}

body {
    position: relative;
}

.parallax {
    position: absolute;
    image-rendering: pixelated;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--parallax-img-url);
    background-size: var(--parallax-img-width) var(--parallax-img-height);
    background-position: center;
    background-repeat: repeat-x;
    animation: background-pan var(--parallax-img-period) linear infinite;
    animation-play-state: paused;
    transform: scale(calc(var(--parallax-scale-factor)));
}

@media (scripting: none) {
    .parallax {
        /* can't slow down framerate without JS, so just leave it up to the browser in this case */
        animation-play-state: running;
    }
}

@media (prefers-reduced-motion: reduce) {
    .parallax {
        animation: none;
    }
}

.parallax.parallax-1 {
    --parallax-img-url:    var(--parallax-img-url-1);
    --parallax-img-period: var(--parallax-img-period-1);
}

.parallax.parallax-2 {
    --parallax-img-url:    var(--parallax-img-url-2);
    --parallax-img-period: var(--parallax-img-period-2);
}

.parallax.parallax-3 {
    --parallax-img-url:    var(--parallax-img-url-3);
    --parallax-img-period: var(--parallax-img-period-3);
}

.parallax.parallax-4 {
    --parallax-img-url:    var(--parallax-img-url-4);
    --parallax-img-period: var(--parallax-img-period-4);
}

@keyframes background-pan {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: calc(-1 * var(--parallax-img-width));
    }
}

html:has(.parallax-theme-orange-sunset) {
    --parallax-img-width:  calc(576px * 4);
    --parallax-img-height: calc(324px * 4);
    --parallax-img-url-1:  url("orange-sunset/1.png");
    --parallax-img-url-2:  url("orange-sunset/2.png");
    --parallax-img-url-3:  url("orange-sunset/3.png");
    --parallax-img-url-4:  url("orange-sunset/4.png");
    --parallax-accent-color: #506ca1;
}

