
html {
    --img-speed-multiplier: 10.0;
    --img-period-1: calc(160s / var(--img-speed-multiplier));
    --img-period-2: calc(160s / var(--img-speed-multiplier));
    --img-period-3: calc(140s / var(--img-speed-multiplier));
    --img-period-4: calc(120s / var(--img-speed-multiplier));
}

body {
    position: relative;
}

.parallax {
    position: absolute;
    image-rendering: pixelated;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--img-url);
    background-size: var(--img-width) calc(max(var(--img-height), 100vh));
    background-position: center;
    background-repeat: repeat-x;
    animation: background-pan var(--img-period) linear infinite;
}

.parallax.parallax-1 {
    --img-url:    var(--img-url-1);
    --img-period: var(--img-period-1);
}

.parallax.parallax-2 {
    --img-url:    var(--img-url-2);
    --img-period: var(--img-period-2);
}

.parallax.parallax-3 {
    --img-url:    var(--img-url-3);
    --img-period: var(--img-period-3);
}

.parallax.parallax-4 {
    --img-url:    var(--img-url-4);
    --img-period: var(--img-period-4);
}

@keyframes background-pan {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: calc(-1 * var(--img-width));
    }
}

html:has(.parallax-theme-orange-sunset) {
    --img-width:  calc(576px * 4);
    --img-height: calc(324px * 4);
    --img-url-1:  url("orange-sunset/1.png");
    --img-url-2:  url("orange-sunset/2.png");
    --img-url-3:  url("orange-sunset/3.png");
    --img-url-4:  url("orange-sunset/4.png");
    --accent-color: #506ca1;
}

