/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select, input::file-selector-button {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}

/* page styles */
html, body {
    overscroll-behavior: none;
}
html {
    --surface-bg: rgba(16, 16, 16, 0.675);
    --surface-bg-active: rgba(16, 16, 16, 0.8);
    --surface-border-radius: 16px;
    --surface-content-padding: 1rem;
    --surface-content-padding-tight: 0.5rem;
    --accent-color: var(--parallax-accent-color, #076678);
    --text-selection-color-bg: var(--accent-color);
    --text-selection-color-fg: #ffffff;
    --overlay-bg: #00000020;
    --overlay-bg-active: #00000040;
    --layout-border-width: 1px;
    --layout-border: var(--layout-border-width) solid rgba(255, 255, 255, 0.15);
    --layout-border-focus: 1px solid rgba(255, 255, 255, 0.4);
    --transition-duration: 0.1s;
    --surface-bg-transition-duration: 0.2s;
    --transition-timing-function: ease;
    --content-margin: 0.75rem;
    --icon-padding: 0.1rem;
    --text-primary-color: #ffffff;
    --text-subdued-color: #d0d0d0;
    --snapping-carousel-padding: var(--content-margin);
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1em;
    accent-color: var(--accent-color);
}
body {
    font-family: 'Cascadia Mono';
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    min-height: 100%;
    color: var(--text-primary-color);
    margin: 0;
    overflow: hidden;
    position: relative;
}
button {
    font-style: italic;
}
*::selection {
    background: var(--text-selection-color-bg);
    color:      var(--text-selection-color-fg);
}
*::-moz-selection {
    background: var(--text-selection-color-bg);
    color:      var(--text-selection-color-fg);
}
*::-webkit-selection {
    background: var(--text-selection-color-bg);
    color:      var(--text-selection-color-fg);
}
p {
    margin: 0;
}
input, textarea, select, button, input::file-selector-button {
    background-color: var(--overlay-bg);
    border: var(--layout-border);
    transition: all var(--transition-duration) var(--transition-timing-function);
    padding: 0.2rem 1.5ch;
}
select {
    width: max-content;
    padding-left: 1ch;
    padding-right: 1ch;
}
input:hover, textarea:hover, select:hover, button:hover, input::file-selector-button:hover {
    background-color: var(--overlay-bg-active);
    border: var(--layout-border);
}
input:focus, textarea:focus, select:focus, button:focus, input::file-selector-button:focus {
    outline: none;
    border: var(--layout-border-focus);
}
button, input::file-selector-button {
    cursor: pointer;
}
input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
input[type=range] {
    vertical-align: middle;
}
input[type=number] {
    appearance: textfield;
}
select option:checked {
    color: var(--text-primary-color);
    background-color: var(--accent-color);
}
textarea {
    min-height: 4em;
    min-width: 100%;
    max-width: 100%;
}
select[multiple], textarea {
    vertical-align: top;
}
select[multiple]:focus option:checked {
    background: var(--accent-color) linear-gradient(0deg, var(--accent-color) 0%, var(--accent-color) 100%);
}
input[type="color"] {
    width: 3em;
    height: 1.5em;
}
.toolbar select, .toolbar select:hover, .toolbar select:focus {
    border: none;
    padding-left: 0;
    background-color: unset;
    width: calc(1ch * var(--selected-text-length) + 4ch);
    margin-left: -0.25rem;
    margin-right: 0.5rem;
}
@-moz-document url-prefix() {
    /* mozilla select padding is a bit wider, so apply a smaller margin for firefox */
    .toolbar select, .toolbar select:hover, .toolbar select:focus {
        margin-left: -0.15rem;
    }
}
.toolbar a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.toolbar input[type="checkbox"] {
    display: none;
}
.toolbar input[type="checkbox"] + label {
    position: relative;
}
.toolbar input[type="checkbox"] + label::before {
    content: '\f131';
    padding-right: 0.5rem;
    font-family: 'Material Design Icons';
    font-style: normal;
}
.toolbar input[type="checkbox"]:checked + label::before {
    content: '\f132';
}
.surface {
    background-color: var(--surface-bg);
    border-radius: var(--surface-border-radius);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:         blur(10px);
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.15), /* inner white border/highlight */
        0 0 0 0.5px rgba(0, 0, 0, 0.65),           /* outer subtle black border */
        0 18px 50px rgba(0, 0, 0, 0.52);           /* surface drop shadow with a vertical offset */
    display: flex;
    flex-direction: column;
    padding: var(--surface-content-padding);
}
.surface-circular {
    --diameter: 3rem;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    min-width:  var(--diameter);
    min-height: var(--diameter);
    max-width:  var(--diameter);
    max-height: var(--diameter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    transition: background-color var(--surface-bg-transition-duration) var(--transition-timing-function);
}
.surface-circular:hover {
    background-color: var(--surface-bg-active);
}
.surface hr {
    margin-left: calc(-1 * var(--surface-content-padding));
    width: calc(100% + (2 * var(--surface-content-padding)));
    outline: 0;
    border: 0;
    border-bottom: var(--layout-border);
}
.surface h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    color: var(--text-subdued-color);
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--surface-content-padding-tight);
}
.scroll-container-vertical {
    padding: var(--surface-content-padding);
    margin-left: calc(-1 * var(--surface-content-padding));
    width: calc(100% + (2 * var(--surface-content-padding)));
    border-top: var(--layout-border);
    border-bottom: var(--layout-border);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.scroll-container-horizontal {
    padding: var(--surface-content-padding);
    margin-left: calc(-1 * var(--surface-content-padding));
    width: calc(100% + (2 * var(--surface-content-padding)));
    border-top: var(--layout-border);
    border-bottom: var(--layout-border);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.subcard-reel {
    --subcard-reel-gap: var(--surface-content-padding);
    gap: var(--subcard-reel-gap);
}
.subcard {
    --subcard-width: 35ch;
    border: var(--layout-border);
    background-color: var(--overlay-bg);
    padding: 2ch;
    border-radius: 12px;
    height: 9rem;
    width: var(--subcard-width);
    min-width: var(--subcard-width);
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.subcard:hover {
    background-color: var(--overlay-bg-active);
}
.subcard-title {
    font-style: italic;
}
.subcard-title > * {
    font-style: normal;
}
.subcard-description {
    margin-top: 0.5rem;
    color: var(--text-subdued-color);
}
.stylized {
    font-style: italic;
}
.toolbar {
    font-size: 0.8rem;
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
    transition:
        margin var(--transition-duration) var(--transition-timing-function),
        border var(--transition-duration) var(--transition-timing-function),
        border-radius var(--transition-duration) var(--transition-timing-function);
}
.toolbar > * {
    flex-shrink: 0;
}
.toolbar:not(.floating-toolbars .toolbar) {
    margin-left: -1px;
    margin-right: -1px;
    border: none;
    border-radius: 0px;
}
.toolbar.toolbar-top {
    margin-top: var(--content-margin);
}
.toolbar.toolbar-bottom {
    margin-bottom: var(--content-margin);
}
.toolbar.toolbar-top:not(.floating-toolbars .toolbar) {
    margin-top: -1px;
}
.toolbar.toolbar-bottom:not(.floating-toolbars .toolbar):last-of-type {
    margin-bottom: -1px;
}

/* these rules should override others, so keep them last to maintain specificity */
.layout-vertical, .layout-vertical-with-margin {
    display: flex;
    flex-direction: column;
    gap: var(--surface-content-padding);
}
.layout-vertical-with-margin {
    margin: var(--surface-content-padding) 0;
}
.layout-vertical-tight, .layout-vertical-tight-with-margin {
    display: flex;
    flex-direction: column;
    gap: var(--surface-content-padding-tight);
}
.layout-vertical-tight-with-margin {
    margin: var(--surface-content-padding-tight) 0;
}
.layout-horizontal, .layout-horizontal-with-margin {
    display: flex;
    flex-direction: row;
    gap: var(--surface-content-padding);
}
.layout-horizontal-with-margin {
    margin: 0 var(--surface-content-padding);
}
.layout-align-stretch {
    align-items: stretch;
}
.align-stretch {
    align-self: stretch;
}
.layout-align-center {
    align-items: center;
}
.align-center {
    align-self: center;
}
.layout-justify-center {
    justify-content: center;
}
.layout-stretch > *, .spacer, .stretch {
    flex: 1;
}
.layout-contain {
    contain: size layout;
    container-type: size;
}
.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}
.margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.widthless {
    width: 0px;
}
.heightless {
    height: 0px;
}
.icon-right-pad {
    padding-right: var(--icon-padding);
}
.right-pad {
    padding-right: 0.5rem;
}
.no-user-select {
    -webkit-user-select: none;
    user-select: none;
}
.topless {
    border-top: none;
    margin-top: calc(-1 * var(--surface-content-padding));
}
.bottomless {
    border-bottom: none;
    margin-bottom: calc(-1 * var(--surface-content-padding));
}
.gapless {
    gap: 0;
}

.snapping-carousel-wrapper {
    background: pink;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.snapping-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.snapping-carousel-slide {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: var(--snapping-carousel-padding);
    position: relative;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snapping-carousel-slide:first-child {
    padding-left: calc(100% + var(--snapping-carousel-padding));
    min-width: 200%;
}

/* breapoint utils */
.obey-width  {
    width: var(--width);
}
.obey-height  {
    height: var(--height);
}
.obey-max-width  {
    max-width: var(--max-width);
}
.obey-max-height  {
    max-height: var(--max-height);
}
@media (max-width: 576px) /* < md */ {
    .md {
        display: none;
    }
}
@media (min-width: 577px) /* >= md */ {
    .no-md {
        display: none;
    }
    .md-obey-width  {
        width: var(--width);
    }
    .md-obey-height  {
        height: var(--height);
    }
    .md-obey-max-width  {
        max-width: var(--max-width);
    }
    .md-obey-max-height  {
        max-height: var(--max-height);
    }
}

